@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
/* globals.css */
@import 'swiper/css';
@import 'swiper/css/pagination';




:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0a98d2;
  --secondary-color: #f6b923;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
span,
div,
strong,
b {
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.transition-max-height {
  transition: max-height 0.5s ease;
  overflow: hidden;
}


/* Custom loader styles */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #16b1ff 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #16adff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

